body {
    padding: 1%; 
    background-color: #F8F8FF;
    font-size: 12px;
}

.cabecalho{
    height: 10%; 
    width: 100%; 
    background-color: buttonface; 
}

a{
    text-decoration: none;
}

.link{
    color: #00E !important;
    border-bottom: 1px solid !important;
    font-size: 14px;
}

