body {
    padding: 1%; 
    background-color: #fff !important;
    font-size: 12px;
}

a{
    text-decoration: none;
}

.link{
    color: #00E !important;
    border-bottom: 1px solid !important;
    font-size: 14px;
}


.links{
    color: white;
}

.menulink:hover{
    background: none;
    box-shadow: none;
    color: #FFE600 !important;
}

.fa-user{
    color: #008037;
}

.ui-widget-overlay{
    background: #fff;
}
.ui-button{
    width: 150px;
}

.ui-datatable-even{
    background-color: #E7FFEB;
    border-color: #E7FFEB;
    color: #000;
}
.ui-datatable-odd{
    background-color: #C6F0C7;
    border-color: #C6F0C7;
    color: #000;
}

.ui-datatable thead th{
    background: #6aa570 !important;
    border-color: #6aa570;
    color: #fff;
}

.ui-inputgroup{
    border-color: #FF1616 !important;
}
