body {
    padding: 1%; 
    background-color: #fff !important;
    font-size: 12px;
}

a{
    text-decoration: none;
}

.link{
    color: #00E !important;
    border-bottom: 1px solid !important;
    font-size: 14px;
}


.links{
    color: white;
}

.menulink:hover{
    background: none;
    box-shadow: none;
    color: #FFE600 !important;
}

.fa-user{
    color: #6aa570;
}

.ui-widget-overlay{
    background: #fff;
}
.ui-button{
    width: 150px;
}

.ui-datatable-even{
    background-color: #E7FFEB;
    border-color: #E7FFEB;
    color: #000;
}
.ui-datatable-odd{
    background-color: #C6F0C7;
    border-color: #C6F0C7;
    color: #000;
}

.ui-datatable thead th{
    background: #6aa570 !important;
    border-color: #6aa570;
    color: #fff;
}

.ui-selectonemenu-items{
    background: #fff !important;
    color: #008037;
}

.ui-selectonemenu-trigger{
    background: #6aa570 !important;
    box-shadow: none !important;
}

.ui-selectonemenu{
    border-color: #6aa570 !important;
    background: transparent;
}

.ui-selectonemenu-label{
    box-shadow: inset 0px 4px 4px #FFFFFF !important;
}

.ui-selectonemenu:hover{
    background: #C6F0C7 !important;
}

.ui-radiobutton-box{
    background: #E7FFEB !important;
    border-color: #C6F0C7 !important;
}

.ui-radiobutton-box:hover{
    background: #E7FFEB !important;
}

.ui-datepicker-header{
    background: #C6F0C7 !important;
    color: #000;
}

.ui-datepicker-next{
    color: #000 !important;
}

.ui-datepicker{
    box-shadow: inset 0px 4px 4px #FFFFFF !important;
}

.ui-datepicker-buttonpane{
    color: #6aa570 !important;
}

.ui-datepicker-month{
    color: #000 !important;
}

.ui-button-text .calendar{
    background: #6aa570 !important;
}

.ui-icon-calendar{
    color: #fff !important;
}

.calendar input{
    box-shadow: none !important;
    border-color: #6aa570;
    color: #008037 !important;
    width: 60%;
}
